{% extends "zsu_common/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{% trans "Person" %}{% endblock %}
{% block content %}
    <div class="card">
        <h5 class="card-header">{% trans "Military card" %}</h5>
        <div class="card-body">
            <h5 class="card-title">{{ person.full_name }}</h5>
            <p class="card-text">{% trans "Birth date" %}: {{ person.birth_date }}</p>
            <p class="card-text">{% trans "Military rank" %}: {{ person.military_rank }}</p>
            <p class="card-text">{% trans "Position" %}: {{ person.position }}</p>
            <p class="card-text">{% trans "Phone number" %}: {{ person.phone_number }}</p>
            <a href="{{ host }}/people/" class="btn btn-primary">{% trans "Back" %}</a>
        </div>
    </div>
{% endblock %}