{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        {% bootstrap_css %}
        {% bootstrap_javascript %}

        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <div class="container">
            <main role="main">
                <div class="row justify-content-center">
                    <div class="col-sm-8 my-5">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>